/- content_for :head do
/  = stylesheet_link_tag "pages/admin/questions-bundle", :media => "all"

.container
  .span9.offset1
    %span 错题本：
    %span= @note.name
    - if @note.questions.blank?
      %span 还没有错题
    - else
      - @note.questions.each do |q|
        .question_with_operation
          .left
            - case q.type
            - when Question::CHOICE_QS
              = render partial: "question_partials/choice_question", locals: { q: q }
            - when Question::BLANK_QS
              = render partial: "question_partials/blank_question", locals: { q: q }
            - when Question::ANALYSIS_QS
              / = render partial: "question_partials/cal_question", locals: { q: q }
          .right
            = link_to "删除", { controller: "/user/questions", action: "remove_from_note", id: q._id.to_s }, :method => "delete", :class => 'btn btn-mini'
          .clear_both
