- content.gsub("<blank></blank>", "_____").split(/(<equation>.*?<\/equation>)/).each do |fragment|
  - if fragment.start_with?('<equation>')
    - file_name = fragment.scan(/<equation>(.*)<\/equation>/)[0][0]
    = image_tag file_name.scan(/\/temp_images.+/)[0]
  - else
    - rows = fragment.split("\\n")
    - rows[0..-2].each do |row|
      %span= row
      %br
    %span= rows[-1]