.user_question
  .left
    - case q.tyle
    - when Question::CHOICE_QS
      = render partial: "question/choice_question", locals: { q: q }
    - when Question::BLANK_QS
      = render partial: "question/blank_question", locals: { q: q }
    - when Question::ANALYSIS_QS
      = render partial: "question/cal_question", locals: { q: q }
  .right
    %a{href: "javascript:void();", role: "button", class: "btn"} export pdf
    %a{href: "javascript:void();", role: "button", class: "btn"} add to pdf
    %a{href: "javascript:void();", role: "button", class: "btn"} show answer
  .clear
