.choice_question
  %p
    %span= q.content.render_tex.html_safe
  %p
  - q.items.each_with_index do |e, index|
    %span= (d2c(index) + e.render_tex).html_safe
    - if (index + 1) % q.item_num_per_row == 0
      %br
