.user_question
  .left
    - case q.class
    - when ChoiceQuestion
      = render partial: "question/choice_question", locals: { q: q }
    - when BlankQuestion
      = render partial: "question/blank_question", locals: { q: q }
    - when CalQuestion
      = render partial: "question/cal_question", locals: { q: q }
  .right
    %a{href: "javascript:void();", role: "button", class: "btn"} export pdf
    %a{href: "javascript:void();", role: "button", class: "btn"} add to pdf
    %a{href: "javascript:void();", role: "button", class: "btn"} show answer
  .clear
