= render partial: "question/question", locals: { q: @question }
- @answers.each do |a|
  = render partial: "answer/answer", locals: { a: a }

= link_to "列表", action: "index"
= link_to "新建", action: "new"
