- content_for :head do
  = stylesheet_link_tag "pages/admin/questions-bundle", :media => "all"

.container
  .span9.offset1
    - if @groups.blank?
      %span 还没有创建分组
    - else
      - @groups.each do |group|
        = render partial: "group_partials/admin/group", locals: { group: group }
        = link_to "删除分组", { controller: "/admin/groups", action: "destroy", id: group.id.to_s }, :method => "delete", :class => 'btn btn-danger'
