.analysis_question.question
  .content
    %p
      = render partial: "fragment_partials/fragment", locals: { content: q.content }
  .question_images
    - q.question_images.each do |question_image|
      = image_tag question_image.scan(/\/temp_images.+/)[0]
