.choice_question.question
  .content
    %p
      = render partial: "fragment_partials/fragment", locals: { content: q.content }
  .question_images
    - q.question_images.each do |image_id|
      = image_tag Image.find(image_id).render_image
  .items
    - q.items.each_with_index do |item, index|
      %p
        %span{class: "item_prefix"}= d2c(index)
        = render partial: "fragment_partials/fragment", locals: { content: item["content"] }
